{% extends '::base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/rgmelibreriaventas/css/ticket.css') }}" type="text/css" rel="stylesheet" />	
{% endblock %}

{% block javascripts %}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/rgmelibreriaventas/js/ticket.js') }}"></script>
{% endblock %}

{% block body %}
<div class="barra_impresion">IMPRIMIR TICKET</div>
<div id="albaran_contenedor">
	<header id="albaran_header">
		<div class="imagen_ticket"></div>
		<h1>Librería Entre Líneas</h1>
		<div class="info">
			<div class="titulo">NIF:</div>
			<div class="valor">77814416-B</div>
		</div>
		<div class="info">
			<div class="titulo">Tel:</div>
			<div class="valor">954342748</div>
		</div>
		<div class="info">
			<div class="titulo">Dir:</div>
			<div class="valor">San Jacinto Nº96</div>
		</div>
		<div class="info">
			<div class="titulo"></div>
			<div class="valor">41010 Sevilla</div>
		</div>
		<div class="info separacion">
			<div class="titulo">Venta nº:</div>
			<div class="valor">{{ venta.id }}</div>
		</div>
		<div class="info">
			<div class="titulo">Fecha:</div>
			<div class="valor">{{ venta.fecha|date('d-m-Y') }}</div>
		</div>
		<div class="info separacion facturaSimplificada">
			<div class="titulo">Factura simplificada</div>
		</div>
	</header>
	<section id="albaran_cuerpo">
		<table>
			<tr>
				<th class="titulo">Titulo</th>
				<th class="pvp">P.V.P</th>
				<th class="cant">UDS.</th>
				<th class="importe">Importe</th>
			</tr>
			{% for prod in productos %}
			<tr>
				<td>{{ prod.titulo }}</td>
				<td>{{ '%.2f'|format(prod.pf) }}€</td>
				<td>{{ prod.cant }}</td>
				<td>{{ '%.2f'|format(prod.pf * prod.cant) }}€</td>
			</tr>
			{% if prod.titulo_desc is defined %}
			<tr class="descuento">
				<td>{{ prod.titulo_desc }}</td>
				<td class="tachado">{{ prod.pvp }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	</section>
	<footer id="albaran_footer">
		<section class="total">
			Total: {{ '%.2f'|format(base) }}€
		</section>
		<section class="ivaIncluido">
			IVA Incluido 
		</section>
		<h2>Gracias por su visita.</h2>
	</footer>
</div>
{% endblock %}