{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/rgmelibreriaventas/css/informe.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/rgmelibreriaventas/js/impresion.js') }}"></script>
{% endblock %}

{% block contenido %}


<form id="seleccionInforme" method="POST" action="{{ formulario.ruta_destino_form }}" {{ form_enctype(formulario.form) }}>			
	<input class="submit" type="submit" value="{{ formulario.titulo_submit }}">
	<div class="form">{{ form_widget(formulario.form) }}</div>	
	<span id="BotonImpresion">Imprimir</span>
</form>

{% if resultadoBusqueda is defined %} 
<div id="resultadoBusqueda">
	<h3>{{ resultadoBusqueda }}</h3>
	
	{% if resultados is not empty %}
	<section class="totales">
		<h4>Totales</h4>
		<div class="titulos">
			<div class="TotalTitulo">Total</div>
			<div class="TotalBaseTitulo">Total Base Imponible</div>
			<div class="TotalIVATitulo">Total IVA Recaudado</div>
		</div>
		<div class="existencias">
			<div class="Total">{{ '%.2f'|format(total) }}€</div>
			<div class="TotalBase">{{ '%.2f'|format(totalBase) }}€</div>
			<div class="TotalIVA">{{ '%.2f'|format(totalIVA) }}€</div>
		</div>
	</section>
	
	{% for dis in resultados %}
	<div class="marcoDistribuidora">
		<h4>Distribuidora: {{ dis.distribuidora.nombre }}</h4>
		<section class="resultados">
			<div class="titulos">
				<div class="ISBNREFTitulo">ISBN/REF</div>
				<div class="NombreTitulo">Titulo del Artículo</div>
				<div class="PrecioVentaTitulo">Precio de Venta</div>
				<div class="BaseImponibleTitulo">Base Imponible</div>
				<div class="IVATitulo">IVA % [ Cantidad IVA € ]</div>
				<div class="MetodoPagoTitulo">Metodo de Pago</div>
			</div>
			{% for ex in dis.existencias %}
				<div class="existencias {{ cycle(['filaUno', 'filaDos'], loop.index0) }}">
					<div class="ISBNREF">{{ ex.referencia }}</div>
					<div class="Nombre">{{ ex.objetovinculado.titulo }}</div>
					<div class="PrecioVenta">{{ '%.2f'|format(ex.itemventa.precioventa) }}€</div>
					<div class="BaseImponible">{{ '%.2f'|format(ex.itemventa.precioventa / (1 + ex.iva)) }}€</div>
					<div class="IVA">{{ ex.iva * 100 }}% [ {{  '%.2f'|format((ex.itemventa.precioventa / (1+ex.iva)) * ex.iva) }}  €]</div>
					<div class="MetodoPago">{{ ex.itemventa.venta.metodopagostring }}</div>			
				</div>
			{% endfor %}
		</section>
		
		<section class="totales">
			<h4>Total Parcial para la distribuidora</h4>
			<div class="titulos">
				<div class="TotalTitulo">Total</div>
				<div class="TotalBaseTitulo">Total Base Imponible</div>
				<div class="TotalIVATitulo">Total IVA Soportado</div>
			</div>
			<div class="existencias">
				<div class="Total">{{ '%.2f'|format(dis.TotalParcialDistribuidora) }}€</div>
				<div class="TotalBase">{{ '%.2f'|format(dis.TotalBaseParcialDistribuidora) }}€</div>
				<div class="TotalIVA">{{ '%.2f'|format(dis.TotalIVAParcialDistribuidora) }}€</div>
			</div>
		</section>
	</div>
	{% endfor %}
	
	<section class="totales">
		<h4>Totales</h4>
		<div class="titulos">
			<div class="TotalTitulo">Total</div>
			<div class="TotalBaseTitulo">Total Base Imponible</div>
			<div class="TotalIVATitulo">Total IVA Recaudado</div>
		</div>
		<div class="existencias">
			<div class="Total">{{ '%.2f'|format(total) }}€</div>
			<div class="TotalBase">{{ '%.2f'|format(totalBase) }}€</div>
			<div class="TotalIVA">{{ '%.2f'|format(totalIVA) }}€</div>
		</div>
	</section>
	
	{% else %}
	<section class="totales">
		<h4>No existen ventas en el mes seleccionado</h4>
	</section>
	{% endif %}
</div>
{% endif %}
{% endblock %}