{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/rgmelibreriasuministro/css/estilo.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<h1>Registro de albaranes</h1>
<div class="datos-albaran">
	<form id="form-datos-albaran">
		<h2>Datos del albaran</h2>
		<div id="formulario-datos-albaran">
			<input id="albaran-id" type="hidden" name="albaran-id" {% if albaran is defined %}value="{{ albaran.id }}"{% endif %}>
			
			<div class="numero">
				<label for="albaran-numero">Numero de Identificación</label>
				<input type="text" id="albaran-numero" required="required" name="albaran-numero" {% if albaran is defined %}value="{{ albaran.numeroAlbaran }}"{% endif %}>
			</div>
			<div class="fecha-realizacion">
				<label for="albaran-fecha-realizacion">Fecha de realización</label>
				<input type="text" id="albaran-fecha-realizacion" required="required" class="dateJquery" name="albaran-fecha-realizacion" {% if albaran is defined %}value="{{ albaran.fechaRealizacion|date('d-m-Y') }}"{% endif %}>
			</div>
			<div class="contrato clear">
				<label for="albaran-contrato">Contrato de suministro</label>
				<select id="albaran-contrato" required="required" name="albaran-contrato">
					<option value="">Seleccione un contrato</option>
					{% for contrato in contratos %}
					<option value="{{ contrato.id }}" {% if albaran is defined %}{% if albaran.contrato.id == contrato.id %}selected{% endif %}{% endif %}>{{ contrato }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="fecha-vencimiento">
				<label for="albaran-fecha-vencimiento">Fecha de vencimiento</label>
				<input type="text" id="albaran-fecha-vencimiento" required="required" class="dateJquery" name="albaran-fecha-vencimiento" {% if albaran is defined %}value="{{ albaran.fechaVencimiento|date('d-m-Y') }}"{% endif %}>
			</div>
			
			<div class="separador clear"></div>
			
			<input class="botonActualizar" type="submit" value="Actualizar" id="actualizar-datos-albaran">
			<div class="estado sinActualizar">-</div>
		</div>
	</form>
</div>

<div id="visor"></div>

<div id="jaula-libros">
	<div class="nuevo-libro">
		<div id="botonAnadir" class="botonAnadir">+</div>
		<h2>Libros contenidos en el albaran</h2>
	</div>
	<div class="libros-albaran"></div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		var ruta_ajax_registro_albaran = '{{ path(ajax.ruta_registrar) }}',
			ruta_ajax_get_libros_albaran = '{{ path(ajax.ruta_get_libros_albaran) }}',
			ruta_ajax_get_datos_libro = '{{ path(ajax.ruta_get_datos_libro) }}',
			ruta_ajax_get_isbn_existente = '{{ path(ajax.ruta_get_isbn_existentes) }}',
			ruta_ajax_get_editoriales_existente = '{{ path(ajax.ruta_get_editoriales_existentes) }}',
			ruta_ajax_registro_libro = '{{ path(ajax.ruta_registrar_libro) }}',
			ruta_ajax_cargar_contenido = '';
			ruta_ajax_eliminar_libro = '{{ path(ajax.ruta_ajax_eliminar_libro) }}';
			ruta_ajax_plantilla_datos_libro = '{{ path(ajax.ruta_ajax_plantilla_datos_libro) }}';
	</script>

	<script type="text/javascript" src="{{ asset('bundles/rgmelibreriasuministro/js/editorAlbaranes.js') }}"></script>
{% endblock %}