{% extends 'RGMELibreriaIndexBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/rgmelibreriasuministro/css/estilo.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<h1>Registro de albaranes</h1>
<div class="datos-albaran">
	<form id="form-datos-albaran">
		<h2><div id="albaran-estado-global" class="estadoGlobal sinActualizar">Estado global:</div>Datos del albaran</h2>
		<div id="formulario-datos-albaran">
			<input id="albaran-id" type="hidden" name="albaran-id" {% if albaran is defined %}value="{{ albaran.id }}"{% endif %}>
			
			<div class="numero">
				<label for="albaran-numero">Numero de Identificación</label>
				<input type="text" id="albaran-numero" required="required" name="albaran-numero" {% if albaran is defined %}value="{{ albaran.numeroAlbaran }}"{% endif %}>
			</div>
			<div class="fecha-realizacion">
				<label for="albaran-fecha-realizacion">Fecha de realización</label>
				<input type="text" id="albaran-fecha-realizacion" required="required" class="dateJquery" name="albaran-fecha-realizacion" {% if albaran is defined %}value="{{ albaran.fechaRealizacion|date('d-m-Y') }}"{% endif %}>
			</div>
			<div class="contrato clear">
				<label for="albaran-contrato">Contrato de suministro</label>
				<select id="albaran-contrato" required="required" name="albaran-contrato">
					<option value="">Seleccione un contrato</option>
					{% for contrato in contratos %}
					<option value="{{ contrato.id }}" {% if albaran is defined %}{% if albaran.contrato.id == contrato.id %}selected{% endif %}{% endif %}>{{ contrato }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="fecha-vencimiento">
				<label for="albaran-fecha-vencimiento">Fecha de vencimiento</label>
				<input type="text" id="albaran-fecha-vencimiento" required="required" class="dateJquery" name="albaran-fecha-vencimiento" {% if albaran is defined %}value="{{ albaran.fechaVencimiento|date('d-m-Y') }}"{% endif %}>
			</div>
			
			<div class="separador clear"></div>
			
			<input class="botonActualizar" type="submit" value="Actualizar" id="albaran-boton-submit">
			<div class="estado sinActualizar" id="albaran-estado">Estado:</div>
		</div>
	</form>
</div>

<div id="visor"><div id="visorEtiqueta"></div></div>

<div id="jaula-libros">
	<div class="nuevo-libro">
		<div id="botonAnadirLibro" class="botonAnadir anadirLibro">Nuevo Libro</div>
		<div id="botonAnadirArticulo" class="botonAnadir anadirArticulo">Nuevo Articulo</div>
		<h2>Items contenidos en el albaran</h2>
	</div>
	<div id="items-albaran"></div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		var ruta_ajax_registro_albaran = '{{ path(ajax.ruta_ajax_registro_albaran) }}',
			ruta_ajax_get_items_albaran = '{{ path(ajax.ruta_ajax_get_items_albaran) }}',
			ruta_ajax_get_datos_libro = '{{ path(ajax.ruta_ajax_get_datos_libro) }}',
			ruta_ajax_get_datos_articulo = '{{ path(ajax.ruta_ajax_get_datos_articulo) }}',
			ruta_ajax_get_datos_existencia = '{{ path(ajax.ruta_ajax_get_datos_existencia) }}',
			ruta_ajax_buscar_libros = '{{ path(ajax.ruta_ajax_buscar_libros) }}',
			ruta_ajax_buscar_articulos = '{{ path(ajax.ruta_ajax_buscar_articulos) }}',
			ruta_ajax_buscar_editoriales = '{{ path(ajax.ruta_ajax_buscar_editoriales) }}',
			ruta_ajax_registro_libro = '{{ path(ajax.ruta_ajax_registro_libro) }}',
			ruta_ajax_registro_articulo = '{{ path(ajax.ruta_ajax_registro_articulo) }}',
			ruta_ajax_registro_existencia = '{{ path(ajax.ruta_ajax_registro_existencia) }}',
			ruta_ajax_borrar_existencia = '{{ path(ajax.ruta_ajax_borrar_existencia) }}',
			ruta_ajax_plantilla_libro = '{{ path(ajax.ruta_ajax_plantilla_libro) }}',
			ruta_ajax_plantilla_articulo = '{{ path(ajax.ruta_ajax_plantilla_articulo) }}',
			ruta_ajax_plantilla_existencia = '{{ path(ajax.ruta_ajax_plantilla_existencia) }}';
	</script>

{# 	<script type="text/javascript" src="{{ asset('bundles/rgmelibreriasuministro/js/editorAlbaranes.js') }}"></script>#}
	
	{% javascripts '@RGMELibreriaSuministroBundle/Resources/public/js/editorAlbaran/clases/*.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	{% javascripts '@RGMELibreriaSuministroBundle/Resources/public/js/editorAlbaran/utiles/*.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	{% javascripts '@RGMELibreriaSuministroBundle/Resources/public/js/editorAlbaran/*.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}