<div id="%isbn_id%" class="libro">
	<h3>
		<div class="boton borrarLibro">-</div>
		<div class="estadoGlobal sinActualizar">Estado global:</div>
		<div class="tipo-item">Libro</div>
		<input class="isbnAcordeon" maxlength="13" value="ISBN" onfocus="funcion_onfocus(this, 'ISBN')" onblur="funcion_onblur(this, 'ISBN')" type="text">
		<div class="boton botonCopiarInfo">Copiar ISBN</div>
	</h3>
	<div class="jaula-datos-libro">
		<div class="datos">
			<form class="form-datos-libro">
			<div class="jaula-datos-libro">
				<div class="jaula-datos-texto">
					<h4>Datos del Libro</h4>
					<div class="jaula-datos-libro-isbn">
						<label class="datos-libro-titulo">ISBN</label>
						<input class="datos-libro-input" maxlength="13" name="isbn" type="text">
					</div>
					<div class="jaula-datos-libro-titulo">
						<label class="datos-libro-titulo">Titulo</label>
						<input class="datos-libro-input" name="titulo" type="text">
					</div>
					<div class="ultimo">
						<label class="datos-libro-titulo">Editorial</label>
						<input class="datos-libro-input" name="editorial"type="text">
					</div>
				</div>
				<div class="jaula-datos-entidades">
					<div>
						<label class="datos-libro-titulo">Autores</label>
						<div class="cajaEleccionEntidades autores">
							{% if autores is empty %}<label>No existen autores</label>
							{% else %}
								{% for autor in autores %}
									<input id="%isbn_id%-autor-{{ autor.id }}" type="checkbox" name="autores[]" value="{{ autor.id }}">
									<label for="%isbn_id%-autor-{{ autor.id }}">{{ autor }}</label>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div>
						<label class="datos-libro-titulo">Estilos</label>
						<div class="cajaEleccionEntidades estilos">
							{% if estilos is empty %}<label>No existen estilos</label>
							{% else %}
								{% for estilo in estilos %}
									<input id="%isbn_id%-estilo-{{ estilo.id }}" type="checkbox" name="estilos[]" value="{{ estilo.id }}">
									<label for="%isbn_id%-estilo-{{ estilo.id }}">{{ estilo.denominacion }}</label>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<input name="actualizar" type="submit" value="Actualizar Datos">
				<div class="estado sinActualizar">Estado:</div>
			</div>
			</form>
		</div>
		
		<div class="existencias">
			<div class="jaula-existencias-masivo">
				<div class="plantilla-masivo existencia">
					<h4 class="titulo-masivo">
						<div class="boton anadirExistenciasMasivas">Añadir existencias</div>
						Creación masiva de existencias
					</h4>
					<div class="info-existencia-masiva">
						<form class="form-datos-existencia">
							<div class="cuerpo-existencia-datos">
								<div>
									<div class="jaula-existencia-dato precio">
										<label>
											<p>Precio</p>
											<p>SIN IVA</p>
										</label>
										<input class="moneda" name="precio" type="text">€
									</div>
								</div>
								<div>
									<div class="jaula-existencia-dato iva">
										<label>IVA</label>
										<select name="iva">
											{% for rec in recargos %}
											<option value="{{ rec.iva }}">{{ rec.iva * 100 }}%</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div>
									<div class="jaula-existencia-dato beneficio">
										<label>Beneficio</label>
										<input class="porcentaje" name="beneficio" type="text">%
									</div>
								</div>
								<div class="ultimo">
									<div class="jaula-existencia-dato descuento">
										<label>Descuento</label>
										<input class="porcentaje" name="descuento" type="text">%
									</div>
								</div>
							</div>
							<div class="cuerpo-existencia-estados">
								<div class="jaula-cuerpo-existencia-estados">
									<div>
										<input name="vendido" type="checkbox">
										<label>Vendido</label>
									</div>
									<div>
										<input name="adquirido" type="checkbox">
										<label>Adquirido por la Librería</label>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="jaula-existencias-libro">
				<div class="jaula-existencias-titulo">
					<div class="boton anadirExistencia">+</div>
					<h4>Existencias</h4>
				</div>
				
				<div class="jaula-existencias"></div>
			</div>
		</div>
	</div>
</div>
