{% extends '::base.html.twig' %}

{% block title %}Albaran{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/rgmelibreriaindex/css/albaran.css') }}" type="text/css" rel="stylesheet" />	
{% endblock %}

{% block body %}
	{% if error %}
	{{ error }}
	{% else %}
<div id="albaran_contenedor">
	<header id="albaran_header">
		Distribuidora: {{ albaran.contrato.distribuidora.nombre }}<br>
		Nº Albaran: {{ albaran.id }}<br>
		Fecha Realizacion: {{ albaran.fechaRealizacion|date('Y-m-d') }}<br>
		Fecha Factura: {{ albaran.fechaVencimiento|date('Y-m-d') }}<br>
	</header>
	<section id="albaran_cuerpo">
		<table>
			<tr>
				<th>ISBN/REF</th>
				<th>Titulo</th>
				<th>UDS.</th>
				<th>Vend.</th>
				<th>P.V.c/i</th>
				<th>P.V.s/i</th>
				<th>Desc</th>
				<th>Importe</th>
				<th>Iva</th>
			</tr>
			{% for l in lineas %}
				<tr>
					<td>{{ l.ref }}</td>
					<td>{{ l.titulo }}</td>
					<td>{{ l.numEjemplares }}</td>
					<td>{{ l.vendidos }}</td>
					<td>{{ '%.2f'|format(l.precio * (1 + l.iva)) }}€</td>
					<td>{{ '%.2f'|format(l.precio) }}€</td>
					<td>{{ l.desc * 100 }}%</td>
					<td>{{ '%.2f'|format(l.precio * (1 - l.desc)) }}€</td>
					<td>{{ l.iva * 100 }}%</td>
				</tr>
			{% endfor %}
		</table>
	</section>
	<footer id="albaran_footer">
		<section class="total_base">
			Total Base: 32.47€
			Total IVA: 1.30€
			Total REC: 0.16€ 
		</section>
		<section class="total">
			TOTAL €: 33.93€
		</section>
		<section class="impuestos">
			<table>
				<tr>
					<th>I.V.A.</th>
					<th>REC.</th>
					<th>Base Imponible</th>
					<th>IMP I.V.A.</th>
					<th>IMP REC.</th>
				</tr>
				<tr>
					<td>4.00%</td>
					<td>0.50%</td>
					<td>32.47€</td>
					<td>1.30€</td>
					<td>0.16€</td>
				</tr>
			</table>
		</section>
	</footer>
</div>
{% endif %}
{% endblock %}