{% extends '::base.html.twig' %}

{% block title %}Albaran{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/rgmelibreriaindex/css/albaran.css') }}" type="text/css" rel="stylesheet" />	
	<link href="{{ asset('bundles/rgmelibreriasuministro/css/abono.css') }}" type="text/css" rel="stylesheet" />	
{% endblock %}

{% set limiteString = 55 %}

{% block body %}
	{% if error %}
		{{ error }}
	{% else %}	
		{% if numPaginas > 0 %}
			{% for i in range(1, numPaginas) %}
				{% set inicio = (i - 1) * (numElementosPorPagina) %}	
				<div id="albaran_contenedor">
					<header id="albaran_header">
						Distribuidora: {{ albaran.contrato.distribuidora.nombre }}<br>
						Nº Albaran: {{ albaran.numeroAlbaran }}<br>
						Fecha Realizacion: {{ albaran.fechaRealizacion|date('d/m/Y') }}<br>
						Fecha Factura: {{ albaran.fechaVencimiento|date('d/m/Y') }}<br>
						Pagina: {{ i }}<br>
						<h3>SOLO EXISTENCIAS NO VENDIDAS NI ADQUIRIDAS POR LIBRERIA</h3>
					</header>
					
					<section id="albaran_cuerpo">
						<table>
							<thead class="cabecera">
								<th class="referencia">Referencia</th>
								<th class="titulo">Titulo</th>
								<th class="loc">Loc</th>
								<th class="precio">Precio Base</th>
								<th class="iva">IVA</th>
								<th class="descuento">Descuento</th>
								<th class="importe">Importe</th>
							</thead>
							<tbody class="cuerpo">
								{% for linea in lineas|slice(inicio, numElementosPorPagina) %}
									{% if linea is iterable %}									
										<tr>						
											<td class="referencia">{{ linea.referencia }}</td>
											<td class="titulo">{% if linea.titulo|length > limiteString %}{{ linea.titulo|slice(0, limiteString) }} ...{% else %}{{ linea.titulo }}{% endif %}</td>
											<td class="loc">{{ linea.localizacion }}</td>
											<td class="precio">{{ '%.2f'|format(linea.precio) }}€</td>
											<td class="iva">{{ linea.iva * 100 }}%</td>
											<td class="descuento">{{ linea.descuento * 100 }}%</td>
											<td class="importe">{{ '%.2f'|format(linea.importe) }}€</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</section>
					
					<footer id="albaran_footer">
						<section class="total_base">
							Total Base: <span class="cantidad">{{ '%.2f'|format(bImp) }}€</span><br>
							Total IVA: <span class="cantidad">{{ '%.2f'|format(bIva) }}€</span><br>
							Total REC: <span class="cantidad">{{ '%.2f'|format(bRec) }}€</span><br>
						</section>
						<section class="total">
							TOTAL €: <span class="cantidad">{{ '%.2f'|format(bTotal) }}€</span>
						</section>
						<section class="impuestos">
							<table>
								<tr>
									<th>I.V.A.</th>
									<th>REC.</th>
									<th>Base Imponible</th>
									<th>IMP I.V.A.</th>
									<th>IMP REC.</th>
								</tr>
								{% for base in lineasBase %}
									{% if base.base > 0 %}
										<tr>
											<td>{{ base.iva * 100 }}%</td>
											<td>{{ base.rec * 100 }}%</td>
											<td>{{ '%.2f'|format(base.base) }}€</td>
											<td>{{ '%.2f'|format(base.impIva) }}€</td>
											<td>{{ '%.2f'|format(base.impRec) }}€</td>
										</tr>
									{% endif %}
								{% endfor %}
							</table>
						</section>
					</footer>
				</div>
			{% endfor %}
		{% else %}
		<div id="albaran_contenedor">
			<header id="albaran_header">
				Distribuidora: {{ albaran.contrato.distribuidora.nombre }}<br>
				Nº Albaran: {{ albaran.numeroAlbaran }}<br>
				Fecha Realizacion: {{ albaran.fechaRealizacion|date('Y-m-d') }}<br>
				Fecha Factura: {{ albaran.fechaVencimiento|date('Y-m-d') }}<br>
				<h3>SOLO EXISTENCIAS NO VENDIDAS NI ADQUIRIDAS POR LIBRERIA</h3>
			</header>
			<section id="albaran_cuerpo">
				<table>
					<thead class="cabecera">
						<th class="referencia">Referencia</th>
						<th class="titulo">Titulo</th>
						<th class="loc">Loc</th>
						<th class="precio">Precio Base</th>
						<th class="iva">IVA</th>
						<th class="descuento">Descuento</th>
						<th class="importe">Importe</th>
					</thead>
					<tbody>
						<tr>
							<td colspan="6"><h2 style="text-align: center;">SIN ELEMENTOS A ABONAR</h2></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		{% endif %}
	{% endif %}
{% endblock %}