{% extends '::base.html.twig' %}

{% block title %}Albaran{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/rgmelibreriaindex/css/albaran.css') }}" type="text/css" rel="stylesheet" />	
{% endblock %}

{% block body %}
	{% if error %}
	{{ error }}
	{% else %}
	{% set longitudLineas = lineas | length %}
	
	{% if numPaginas > 0 %}
		{% for i in range(1, numPaginas) %}
			{% set inicio = (i - 1) * 33 %}
			{% set fin = (i * 33) - 1 %}				
			<div id="albaran_contenedor">
				<header id="albaran_header">
					Distribuidora: {{ albaran.contrato.distribuidora.nombre }}<br>
					Nº Albaran: {{ albaran.numeroAlbaran }}<br>
					Fecha Realizacion: {{ albaran.fechaRealizacion|date('Y-m-d') }}<br>
					Fecha Factura: {{ albaran.fechaVencimiento|date('Y-m-d') }}<br>
					Pagina: {{ i }}<br>
				</header>
				<section id="albaran_cuerpo">
					<table>
						<tr>
							<th>ISBN/REF</th>
							<th>Titulo</th>
							<th>UDS.</th>
							<th>Vend.</th>
							<th>P.V.c/i</th>
							<th>P.V.s/i</th>
							<th>Desc</th>
							<th>Importe</th>
							<th>Iva</th>
						</tr>	
			
						
			{% if fin > longitudLineas %}
				{% set fin = longitudLineas %}
			{% endif %}			
				
			{% for l in lineas|slice(inicio, 33) %}
				{% if l is iterable %}
						<tr>
							<td><div class="envoltura">{{ l.ref }}</div></td>
							<td><div class="envoltura">{{ l.titulo }}</div></td>
							<td><div class="envoltura">{{ l.numEjemplares }}</div></td>
							<td><div class="envoltura">{{ l.vendidos }}</div></td>
							<td><div class="envoltura">{{ '%.2f'|format(l.precio * (1 + l.iva)) }}€</div></td>
							<td><div class="envoltura">{{ '%.2f'|format(l.precio) }}€</div></td>
							<td><div class="envoltura">{{ l.desc * 100 }}%</div></td>
							<td><div class="envoltura">{{ '%.2f'|format((l.precio * (1 - l.desc))|round(2) * l.numEjemplares) }}€</div></td>
							<td><div class="envoltura">{{ l.iva * 100 }}%</div></td>
						</tr>
						{% if 'loc' in l|keys %}
							{% for localizacion in l.loc %}
								<tr>
									<td></td>
									<td colspan="2" style="text-align: left;padding: 2px 0px; font-size: 13px; font-weight: 800;">Ejemplar en: {{ localizacion }}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							{% endfor %}
						{% endif %}
					{% endif %}
			{% endfor %}		
					</table>
				</section>
				<footer id="albaran_footer">
					<section class="total_base">
						Total Base: <span class="cantidad">{{ '%.2f'|format(bImp) }}€</span><br>
						Total IVA: <span class="cantidad">{{ '%.2f'|format(bIva) }}€</span><br>
						Total REC: <span class="cantidad">{{ '%.2f'|format(bRec) }}€</span><br>
					</section>
					<section class="total">
						Total a pagar €: <span class="cantidad">{{ '%.2f'|format(vTotal) }}€</span><br>
						TOTAL €: <span class="cantidad">{{ '%.2f'|format(bTotal) }}€</span>
					</section>
					<section class="impuestos">
						<table>
							<tr>
								<th>I.V.A.</th>
								<th>REC.</th>
								<th>Base Imponible</th>
								<th>IMP I.V.A.</th>
								<th>IMP REC.</th>
							</tr>
							{% for base in bases %}
								{% if base.baseImp > 0 %}
									<tr>
										<td>{{ base.iva * 100 }}%</td>
										<td>{{ base.rec * 100 }}%</td>
										<td>{{ '%.2f'|format(base.baseImp) }}€</td>
										<td>{{ '%.2f'|format(base.ivaImp) }}€</td>
										<td>{{ '%.2f'|format(base.recImp) }}€</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</section>
				</footer>
			</div>
		{% endfor %}
	{% else %}
		<div id="albaran_contenedor">
			<header id="albaran_header">
				No se encontraron elementos en el albaran
			</header>
		</div>
	{% endif %}
{% endif %}
{% endblock %}