			<nav>
				<ul>
					<li class="menu_titulo">*Libros</li>
						<li class="menu_enlace">*<a href="{{ path('rgarcia_entrelineas_libro_index') }}">Gestión de Libros</a></li>
						<li class="menu_enlace">*<a href="{{ path('rgarcia_entrelineas_autor_index') }}">Gestión de Autores</a></li>
						<li class="menu_enlace">*<a href="{{ path('rgarcia_entrelineas_editorial_index') }}">Gestión de Editoriales</a></li>
						<li class="menu_enlace">*<a href="{{ path('rgarcia_entrelineas_estilo_index') }}">Gestión de Estilos</a></li>
						<li class="menu_enlace">*<a href="{{ path('rgarcia_entrelineas_localizacion_index') }}">Gestión de Localizaciones</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Finanzas</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_financiacion_banco_homepage') }}">Gestión de Bancos</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_financiacion_aval_homepage') }}">Gestión de Avales</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_financiacion_gastos_corrientes_homepage') }}">Gestión de Gastos Corrientes</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Suministros</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_recargo_homepage') }}">Gestión de Recargos de equivalencia</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_distribuidoras_homepage') }}">Gestión de Distribuidoras</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_contratosuministro_homepage') }}">Gestión de Contratos de Suministro</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Procedimientos de Suministro</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_albaran_homepage') }}">Gestión de Albaranes</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_albaran_crear') }}">Creación de nuevo Albaran</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_albaran_importar') }}">Importar excel</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Reservas</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_reserva_reserva_index') }}">Gestión de Reservas</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Estadisticas</li>
						<li class="menu_enlace"><a href="#">Libros vendidos</a></li>
						<li class="menu_enlace"><a href="#">Libros por vender</a></li>
				</ul>
			</nav>