			<nav>
				<ul>
					<li class="menu_titulo">Libros</li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_libro_homepage') }}">Gestion de Libros</a></li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_autor_homepage') }}">Gestion de Autores</a></li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_editorial_homepage') }}">Gestion de Editoriales</a></li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_estilo_homepage') }}">Gestion de Estilos</a></li>
						<li class="menu_enlace"><a href="{{ path('rgarcia_entrelineas_localizacion_homepage') }}">Gestion de Localizaciones</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Finanzas</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_financiacion_banco_homepage') }}">Gestion de Bancos</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_financiacion_aval_homepage') }}">Gestion de Avales</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_financiacion_gastos_corrientes_homepage') }}">Gestion de Gastos Corrientes</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Suministros</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_recargo_homepage') }}">Gestion de Recargos de equivalencia</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_distribuidoras_homepage') }}">Gestion de Distribuidoras</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_contratosuministro_homepage') }}">Gestion de Contratos de Suministro</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Procedimientos de Suministro</li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_albaran_homepage') }}">Gestion de Albaranes</a></li>
						<li class="menu_enlace"><a href="{{ path('rgm_e_libreria_suministro_albaran_crear') }}">Creacion de nuevo albaran</a></li>
						<li class="menu_sep"></li>
						
					<li class="menu_titulo">Estadisticas</li>
						<li class="menu_enlace"><a href="#">Libros vendidos</a></li>
						<li class="menu_enlace"><a href="#">Libros por vender</a></li>
				</ul>
			</nav>