{% extends 'RGMELibreriaIndexBundle::base.html.twig' %}

{% block title %}Ver Ejemplares | ISBN: {{ libro.isbn }}{% endblock %}

{% block body %}
<div class="marco">
	<header class="libro">
		<div class="imagen"><img src="{{ asset('bundles/imagenesLibro/') }}{{ libro.isbn }}"></div>
		<div class="isbn color1 libro_info"><div class="clave">ISBN:</div><div class="valor">{{ libro.isbn }}</div></div>
		<div class="titulo color2 libro_info"><div class="clave">Titulo:</div><div class="valor">{{ libro.titulo }}</div></div>
		<div class="editorial color1 libro_info"><div class="clave">Editorial:</div><div class="valor">{{ libro.editorial.nombre }}</div></div>
	</header>
	
	<article class="ejemplares">
		<div class="ejemplar_titulo primero color1">
			<div class="clave">Ejemplares disponibles</div>
			<div class="ejemplar_select valor">
				<select id="ejemplares_encontrados_select">
					<option value="">Ejemplares encontrados: {{ libro.getEjemplaresDisponibles|length }}</option>
					{% for ejemplar in libro.getEjemplaresDisponibles %}
						<option value="{{ ejemplar.id }}">Ejemplar-{{ ejemplar.id }} [Loc: {{ ejemplar.localizacion.denominacion }}]</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div id="ejemplar_datos" class="ejemplar_datos">
			
		</div>
	</article>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	<link href="{{ asset('bundles/rgmelibrerialibro/css/verEjemplares.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts '@RGMELibreriaLibroBundle/Resources/public/js/*.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script>
		var ruta_ajax_get_ejemplar_datos = '{{ path('rgm_e_libreria_librobundle_ejemplar_datos_ajax') }}',
			ruta_ajax_ejemplar_set_loc = '{{ path('rgm_e_libreria_librobundle_ejemplar_setLoc_ajax') }}';
	</script>

{% endblock %}